@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Pulling up vars from Utopia */
:root {

    /* Spacing */
    --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.12vw), 0.63rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.12vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.23vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.35vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.46vw), 2.50rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.70vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.31rem + 0.93vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.47rem + 1.39vw), 7.50rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.58vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.42rem + 0.70vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.70vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.85rem + 1.39vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.39rem + 1.51vw), 2.50rem);
    --space-l-xl: clamp(2.25rem, calc(1.69rem + 2.79vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.77rem + 3.02vw), 5.00rem);
    --space-2xl-3xl: clamp(4.50rem, calc(3.39rem + 5.57vw), 7.50rem);

    /* Custom pairs */
    --space-s-l: clamp(1.13rem, calc(0.61rem + 2.56vw), 2.50rem);

    /* Font Sizes */
    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
    
    /* Grid Sizes */
    --grid-max-width: 80rem;
    --grid-gutter: var(--space-s-m, clamp(1.13rem, calc(0.69rem + 2.18vw), 1.88rem));
    --grid-columns: 12;
}

/* Setting body as the grid */
body {
  display: grid;
  gap: var(--grid-gutter);
  margin: 0;
  max-width: 100%;
}

h1, h2,h3,h4,h5,h6,p,a,li {
  font-family: 'Roboto', 'Courier New', Courier, 'monospace';
}

/* Setting main, navbar and footer as container */
body main {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

/* Positioning and setting layout of nav */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 0;

    position: sticky;
    top: 0px;
    right: 0px;
    background-color: #D9D9D9;
    /* width: 100%; */

    /* padding: 0.5em 0.75em; */
    padding: 0 0.75em;
}

/* Setting everything in nav to be horizontal */
nav * {
    display: inline-block;
}

/* Normalize link text */
nav a {
    font-style: normal;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.799);
    padding: 0.5em 0.3em;
}

nav > ul li:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav li,a {
    font-size: var(--step-0);
}

nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    font-size: var(--step-0);
}

nav > ul > li > ul {
    display: none;
}

#resumeLink {
    color: rgba(0, 0, 0, 0.72);
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    margin-top: 2em;
    padding: 1em 0;
    font-size: var(--step--1);
}

h1 {
    font-size: var(--step-3)
}

h2 {
    font-size: var(--step-2)
}

h3 {
    font-size: var(--step-1)
}

p {
    font-size: var(--step-0);
}

a {
    font-style: normal;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.72);
}

a.btn {
    font-style: normal;
    text-decoration: none;
    color: black;
    background-color: #D9D9D9;
    padding: 0.5em 6em;
}

a.btn:hover {
    background-color: #949393;
}

a[aria-disabled] {
    pointer-events: none;
}

@media(max-width: 580px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    nav li {
        display: block;
    }
}